.boardsWrapper {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.seaBattleHeader {
  font-size: 60px;
  color: #bdff00;
}
.placeFleet,
.startBtn,
.newGameBtn {
  margin-top: 40px;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #bdff00;
  font-size: 24px;
  cursor: pointer;
}

.startBtn:active {
  background-color: #fff;
}

.playerHeader,
.placeFleetHeader,
.result {
  margin: 10px;
  font-size: 40px;
  color: #bdff00;
  text-align: center;
}

.placeFleetHeader {
  margin-bottom: 40px;
}

.message {
  color: #bdff00;
  font-size: 20px;
}

.newGameSetup {
  position: absolute;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgba(14, 26, 11, 0.8);
}

.newGameSetup > h3 {
  margin-top: 100px;
}

.playerBoardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
