.boardsWrapper {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.seaBattleHeader {
  font-size: 60px;
  color: #bdff00;
}
.placeFleet,
.startBtn {
  margin-top: 40px;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #bdff00;
  font-size: 24px;
  cursor: pointer;
}

.startBtn {
  width: 200px;
}

.startBtn:active {
  background-color: #fff;
}

.playerHeader,
.placeFleetHeader {
  margin: 10px;
  font-size: 40px;
  color: #bdff00;
  text-align: center;
}

.placeFleetHeader {
  margin-bottom: 40px;
}

.message {
  color: #bdff00;
  font-size: 20px;
}
