.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.cell {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #1e90ff;
  border: 1px solid #333;
  cursor: pointer;
}
.active {
  background-color: lightgrey;
}

.playerShip {
  background-color: green;
}

.enemyShip {
  background-color: red;
}

.dead {
  width: 30px;
  height: 30px;
}

.dead::after {
  position: absolute;
  content: '\1F7AD';
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeShipsBtn {
  margin-top: 40px;
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #bdff00;
  font-size: 24px;
  cursor: pointer;
}

.placeShipsBtn:active {
  background-color: #fff;
}
