.container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navBtn {
  padding: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.headerMobile {
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
}

.gameHeader {
  color: #bdff00;
  font-size: 50px;
  text-align: center;
  margin-left: 50px;
}

header p {
  width: fit-content;
  padding: 15px;

  border-radius: 4px;
  background-color: #bdff00;
  color: #000000;
  font-size: 20px;
  text-align: center;
}

/*xs*/
@media (min-width: 475px) {
  .container {
    width: 475px;
  }
}
/*sm*/
@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}
/*md*/
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
/*lg*/
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }

  .headerDesktop {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .link {
    padding: 15px;
    background-color: #bdff00;
    border-radius: 4px;
    font-size: 20px;
    color: #000000;
  }

  .active {
    background-color: #fafafa;
    color: #000000;
  }

  .username {
    font-size: 30px;
  }

  .logOutButton {
    background-color: #bdff00;

    width: 80px;
    height: 50px;

    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .logOutButton:active {
    background-color: #fafafa;
  }
}
/*xl*/
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}
