.gameResultWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.gameResultWrapper div {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameResultWrapper div h3 {
  margin-top: 15px;
  color: #bdff00;
}

.winner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #bdff00;
  font-size: 20px;
}

.winner {
  text-transform: uppercase;
}
